<div class="d-flex mb-1 <%= message.user? ? 'justify-content-start' : 'justify-content-end' %>">
  <div class="d-flex flex-column">
    <% if message.user? %>
      <div class="small">You</div>
    <% else %>
      <div class="small text-end">Doctor A.I.</div>
    <% end %>

    <div id="<%= message.id %>" class="border rounded-3 px-3 py-2 <%= message.user? ? 'bg-primary-subtle' : 'bg-success-subtle markdown-content' %>">
      <% if message.body.empty? %>
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      <% else %>
        <% if message.user? %>
          <%= raw message.body %>
        <% else %>
          <%= MarkdownRenderer.new.render(message.body) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag %(
  var messagesContainer = document.getElementById('messages-container');
  messagesContainer.scrollTop = messagesContainer.scrollHeight;
) %>