
<div class="row g-3">
  <div class="col col-sm-6 col-md-4 mx-auto py-4">
    <div class="h4 mb-3">Cadastro</div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'row g-3' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="col-12">
        <%= f.label :email, class: 'form-label' %><span class="text-danger">*</span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label :first_name, class: 'form-label' %><span class="text-danger">*</span><br />
        <%= f.text_field :first_name, required: true, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label :last_name, class: 'form-label' %><span class="text-danger">*</span><br />
        <%= f.text_field :last_name, required: true, class: 'form-control' %>
      </div>

      <div class="col-12">
        <%= f.label :phone_number, class: 'form-label' %><span class="text-danger">*</span><br />
        <%= f.text_field :phone_number, required: true, class: 'form-control', data: { controller: "phone-number-mask" } %>
      </div>

      <div class="col-12">
        <%= f.label :password, class: 'form-label' %><span class="text-danger">*</span>
        <% if @minimum_password_length %>
          <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div>
        <%= f.submit t('devise.shared.sign_up'), class: 'btn btn-primary w-100 mb-3' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
