<% content_for :navigation do %>
  <%= link_to 'Voltar', root_path, class: 'btn btn-primary', style: 'width: 100px' %>
<% end %>

<%= turbo_frame_tag @chat, class: 'd-flex flex-grow-1' do %>
  <%= turbo_stream_from "messages" %>

  <div class="row flex-grow-1">
    <div class="col-3 border-end pt-3">
      <div class="d-grid gap-2">
        <% if @chat.assistant.name == 'GreenMinds' %>
          <%= link_to 'Novo Caso Clínico', new_chat_clinical_case_path(@chat), class: 'btn btn-success', data: { turbo: false } %>
        <% end %>
      </div>
    </div>
    <div class="col-9 d-flex flex-column pt-3 text-break" style="overflow-y: scroll; height: calc(100vh - 50px)">
      <div id='messages-container' class="row flex-grow-1" data-controller="scroll">
        <%= turbo_frame_tag 'messages' do %>
          <% @chat.messages.each do |message| %>
            <%= render message %>
          <% end %>
        <% end %>
      </div>

      <div class="row mt-2">
        <%= form_for [@chat, Message.new], method: :post do |f| %>
          <div class="input-group mb-3">
            <%= f.text_field :body, placeholder: 'Faça sua pergunta...', class: 'form-control shadow-none', autofocus: true, autocomplete: 'off', required: true %>
            <%= f.submit 'Enviar', class: 'btn btn-outline-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
