<%= turbo_stream_from "messages" %>

<div class="row flex-grow-1">
  <div class="col-3 border-end">
    <div class="h5">
      Biblioteca
    </div>
    <%= link_to 'Biblioteca', chat_archives_path(@chat), class: 'btn btn-primary' %>
  </div>
  <div class="col-9 d-flex flex-column">
    <div id='messages-container' class="row flex-grow-1 overflow-scroll" data-controller="scroll">
      <div class="col d-flex flex-column py-2">
        <%= turbo_frame_tag 'messages' do %>
          <% @chat.messages.each do |message| %>
            <%= render message %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row mt-2">
      <%= form_for [@chat, Message.new], method: :post do |f| %>
        <div class="input-group mb-3">
          <%= f.text_field :body, placeholder: 'Faça sua pergunta...', class: 'form-control shadow-none', autofocus: true, autocomplete: 'off', required: true %>
          <%= f.submit 'Send', class: 'btn btn-outline-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

