<% content_for :navigation do %>
  <%= link_to 'Voltar', root_path, class: 'btn btn-primary', style: 'width: 100px' %>
<% end %>

<%= turbo_frame_tag @chat, class: 'd-flex flex-grow-1' do %>
  <%= turbo_stream_from "messages" %>

  <div class="row flex-grow-1">
    <div class="col-3 border-end pt-3">
      <div class="d-grid gap-2">
        <% if @chat.assistant.name == 'GreenMinds' %>
          <%= link_to 'Novo Caso Clínico', new_chat_clinical_case_path(@chat), class: 'btn btn-success', data: { turbo: false } %>
        <% end %>
      </div>
    </div>
    <div class="col-9 d-flex flex-column pt-3 text-break" style="height: calc(100vh - 50px);">
      <div class="row h-100 overflow-hidden">
        <div class="col-12 flex-grow-1 overflow-scroll" style="height: calc(100% - 54px)" id="messages-container" data-controller="clear-input">
          <%= turbo_frame_tag 'messages' do %>
            <% @chat.messages.order(created_at: :asc).each do |message| %>
              <%= render message %>
            <% end %>
          <% end %>
        </div>

        <div class="col-12" style="">
          <%= form_for [@chat, Message.new], method: :post, html: { data: { controller: :scroll }} do |f| %>
            <div class="input-group mb-3">
              <%= f.text_field :body, placeholder: 'Faça sua pergunta...', class: 'form-control shadow-none', autofocus: true, autocomplete: 'off', required: true %>
              <%= f.submit 'Enviar', class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>




    </div>

  </div>
<% end %>
